* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(29, 26, 46);
}

.dropdownmenu {
    display: block;
    width: 10%;
    position: relative;
}

.dropdownmenu > li > a {
    background: rgb(29, 26, 46);
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    position: relative;
    font-size: 30px;

}

.dropdownmenu ul {
    background: rgb(29, 26, 46);
    color: #ffffff;
    height: 0;
    left: 0;
    opacity: 0;
    transition: all 1s ease;
    top: 50px;
    text-align: center;
    font-size: 20px;

}

.dropdownmenu li:hover ul {
    opacity: 1;
    transform: translateY(6px);
}

.dropdownmenu ul a {
    color: #ffffff;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    margin-left: 15px;
}